.App {
  text-align: center;
}

.App-header {
  background-color: #5F7470;
  min-height: 5vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #B8BDB5;
  height:95vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-pallete{
  /* CSS HEX */
  --xanadu: #5f7470;
  --ash-gray: #b8bdb5;
  --oxford-blue: #0a2342;
  --flame: #dc602e;
  --crimson-ua: #941c2f;

}
